{% extends "base.html" %}
{% block title %}Welcome to Finance Analysis Engine{% endblock %}
{% block content %}
  <h1>Finance Analysis Engine</h1>
   <form id="myForm" action="" method="post">
      <label><b>Invest Amount</b></label>
      <input type="text" placeholder="Enter Invest Amount" name="amount" required>
      <div class="checkbox">
      <label><input type="checkbox" name="ethical" id="ethical" onclick="ethical_onclick()">Ethical Investing</label>
      <div id="ethical_children" style="display: none;">
       <div class="form-group">
       <label><input type="checkbox" name="1" id="1">Apple Inc</label>
       <label style="margin-left: 20px"><input type="checkbox" name="2" id="2">Adobe Systems Incorporated</label>
       <label style="margin-left: 20px"><input type="checkbox" name="3" id="3">Nestlé S.A.</label>
       </div>
       </div>
       </div>
       <div class="checkbox">
      <label><input type="checkbox" name="growth" id="growth" onclick="growth_onclick()">Growth Investing</label>
      <div id="growth_children" style="display: none;">
       <div class="form-group">
       <label><input type="checkbox" name="4" id="4">iShares Core Russell US Growth</label>
       <label style="margin-left: 20px"><input type="checkbox" name="5" id="5">Vanguard Russell 1000 Growth ETF</label>
       <label style="margin-left: 20px"><input type="checkbox" name="6" id="6">Schwab US Large-Cap Growth ETF </label>
       </div>
       </div>
      </div>
       <div class="checkbox">
     <label><input type="checkbox" name="index" id="index" onclick="index_onclick()">Index Investing</label>
     <div id="index_children" style="display: none;">
       <div class="form-group">
       <label><input type="checkbox" name="7" id="7">Vanguard Total Stock Market ETF</label>
       <label style="margin-left: 20px"><input type="checkbox" name="8" id="8">iShares Core MSCI Total Intl Stk</label>
       <label style="margin-left: 20px"><input type="checkbox" name="9" id="9">iShares Core 10+ Year USD Bond</label>
       </div>
       </div>
      </div>
       <div class="checkbox">
      <label><input type="checkbox" name="quality" id="quality" onclick="quality_onclick()">Quality Investing</label>
      <div id="quality_children" style="display: none;">
       <div class="form-group">
       <label><input type="checkbox" name="10" id="10">Facebook, Inc.</label>
       <label style="margin-left: 20px"><input type="checkbox" name="11" id="11">Microsoft Corporation</label>
       <label style="margin-left: 20px"><input type="checkbox" name="12" id="12">Alphabet Inc.</label>
       </div>
       </div>
      </div>
       <div class="checkbox">
      <label><input type="checkbox" name="value" id="value" onclick="value_onclick()">Value Investing</label>
      <div id="value_children" style="display: none;">
       <div class="form-group">
       <label><input type="checkbox" name="13" id="13">Amazon.com, Inc.</label>
       <label style="margin-left: 20px"><input type="checkbox" name="14" id="14">Eaton Corporation plc</label>
       <label style="margin-left: 20px"><input type="checkbox" name="15" id="15">Cummins Inc.</label>
       </div>
       </div>
      </div>
      <div>
      <button type="submit">Generate Engine Report</button>
      </div>
  </form>
  <script type=text/javascript>
  function ethical_onclick () {
  $('#ethical').change(function() {
    if ($('#ethical').prop('checked')) {
        $('#1').prop('checked', true);
        $('#2').prop('checked', true);
        $('#3').prop('checked', true);
        $('#ethical_children').show();
    } else {
        $('#1').prop('checked', false);
        $('#2').prop('checked', false);
        $('#3').prop('checked', false);
        $('#ethical_children').hide();
    }
   });
}

  function growth_onclick () {
  $('#growth').change(function() {
    if ($('#growth').prop('checked')) {
        $('#4').prop('checked', true);
        $('#5').prop('checked', true);
        $('#6').prop('checked', true);
        $('#growth_children').show();
    } else {
        $('#4').prop('checked', false);
        $('#5').prop('checked', false);
        $('#6').prop('checked', false);
        $('#growth_children').hide();
    }
   });
}

function index_onclick () {
  $('#index').change(function() {
    if ($('#index').prop('checked')) {
        $('#7').prop('checked', true);
        $('#8').prop('checked', true);
        $('#9').prop('checked', true);
        $('#index_children').show();
    } else {
        $('#7').prop('checked', true);
        $('#8').prop('checked', true);
        $('#9').prop('checked', true);
        $('#index_children').hide();
    }
   });
}

function quality_onclick () {
  $('#quality').change(function() {
    if ($('#quality').prop('checked')) {
        $('#10').prop('checked', true);
        $('#11').prop('checked', true);
        $('#12').prop('checked', true);
        $('#quality_children').show();
    } else {
        $('#10').prop('checked', false);
        $('#11').prop('checked', false);
        $('#12').prop('checked', false);
        $('#quality_children').hide();
    }
   });
}

function value_onclick () {
  $('#value').change(function() {
    if ($('#value').prop('checked')) {
        $('#13').prop('checked', true);
        $('#14').prop('checked', true);
        $('#15').prop('checked', true);
        $('#value_children').show();
    } else {
        $('#1').prop('checked', false);
        $('#2').prop('checked', false);
        $('#3').prop('checked', false);
        $('#value_children').hide();
    }
   });
}
</script>
{% endblock %}