{% extends "base.html" %}
{% block title %}Welcome to Finance Analysis Engine{% endblock %}
{% block content %}
  <h1>Finance Analysis Engine</h1>
   <form action="" method="post">
      <label><b>Invest Amount</b></label>
      <input type="text" placeholder="Enter Invest Amount" name="amount" required>
      <div class="radio">
      <label><input type="radio" name="ethical" id="ethical">Ethical Investing</label>
      </div>
       <div class="radio">
      <label><input type="radio" name="growth" id="growth">Growth Investing</label>
      </div>
       <div class="radio">
     <label><input type="radio" name="index" id="index">Index Investing</label>
      </div>
       <div class="radio">
      <label><input type="radio" name="quality" id="quality">Quality Investing</label>
      </div>
       <div class="radio">
      <label><input type="radio" name="value" id="value">Value Investing</label>
      </div>
      <label><b>Symbol</b></label>
      <input type="text" placeholder="Enter Stock Name" name="stockname" required>

      <button type="submit">Generate Engine Report</button>
  </form>
{% endblock %}