{% extends "base.html" %}
{% block title %}Welcome to Finance Analysis Engine{% endblock %}
{% block content %}
  <h1>Finance Analysis Engine</h1>
   <form id="myForm" action="" method="post">
      <label><b>Invest Amount</b></label>
      <input type="text" placeholder="Enter Invest Amount" name="amount" required>
      <div class="checkbox">
      <label><input type="checkbox" name="ethical" id="ethical" onclick="ethical_onclick()">Ethical Investing</label>
      <div id="ethical_children" style="display: none;">
       <div class="form-group">
       <label><input type="checkbox" name="1" id="1">Ethical Investing Name1</label>
       <label style="margin-left: 20px"><input type="checkbox" name="2" id="2">Ethical Investing Name2</label>
       <label style="margin-left: 20px"><input type="checkbox" name="3" id="3">Ethical Investing Name3</label>
       </div>
       </div>
       </div>
       <div class="checkbox">
      <label><input type="checkbox" name="growth" id="growth" onclick="growth_onclick()">Growth Investing</label>
      <div id="growth_children" style="display: none;">
       <div class="form-group">
       <label><input type="checkbox" name="4" id="4">Growth Investing Name1</label>
       <label><input type="checkbox" name="5" id="5">Growth Investing Name2</label>
       <label><input type="checkbox" name="6" id="6">Growth Investing Name3</label>
       </div>
       </div>
      </div>
       <div class="checkbox">
     <label><input type="checkbox" name="index" id="index" onclick="index_onclick()">Index Investing</label>
     <div id="index_children" style="display: none;">
       <div class="form-group">
       <label><input type="checkbox" name="7" id="7">Index Investing Name1</label>
       <label><input type="checkbox" name="8" id="8">Index Investing Name2</label>
       <label><input type="checkbox" name="9" id="9">Index Investing Name3</label>
       </div>
       </div>
      </div>
       <div class="checkbox">
      <label><input type="checkbox" name="quality" id="quality" onclick="quality_onclick()">Quality Investing</label>
      <div id="quality_children" style="display: none;">
       <div class="form-group">
       <label><input type="checkbox" name="10" id="10">Quality Investing Name1</label>
       <label><input type="checkbox" name="11" id="11">Quality Investing Name2</label>
       <label><input type="checkbox" name="12" id="12">Quality Investing Name3</label>
       </div>
       </div>
      </div>
       <div class="checkbox">
      <label><input type="checkbox" name="value" id="value" onclick="value_onclick()">Value Investing</label>
      <div id="value_children" style="display: none;">
       <div class="form-group">
       <label><input type="checkbox" name="4" id="4">Value Investing Name1</label>
       <label><input type="checkbox" name="5" id="5">Value Investing Name2</label>
       <label><input type="checkbox" name="6" id="6">Value Investing Name3</label>
       </div>
       </div>
      </div>
      <label><b>Symbol</b></label>
      <input type="text" placeholder="Enter Stock Name" name="stockname" required>

      <button type="submit">Generate Engine Report</button>
  </form>
  <script type=text/javascript>
  function ethical_onclick () {
  $('#ethical').change(function() {
    if ($('#ethical').prop('checked')) {
        $('#ethical_children').show();
    } else {
        $('#ethical_children').hide();
    }
   });
}

  function growth_onclick () {
  $('#growth').change(function() {
    if ($('#growth').prop('checked')) {
        $('#growth_children').show();
        $('#4').prop('checked', true);
        $('#5').prop('checked', true);
        $('#6').prop('checked', true);
    } else {
        $('#growth_children').hide();
        $('#4').prop('checked', false);
        $('#5').prop('checked', false);
        $('#6').prop('checked', false);
    }
   });
}

function index_onclick () {
  $('#index').change(function() {
    if ($('#index').prop('checked')) {
        $('#index_children').show();
        $('#7').prop('checked', true);
        $('#8').prop('checked', true);
        $('#9').prop('checked', true);
    } else {
        $('#index_children').hide();
        $('#7'.prop('checked', false);
        $('#8'.prop('checked', false);
        $('#9'.prop('checked', false);
    }
   });
}

function quality_onclick () {
  $('#quality').change(function() {
    if ($('#quality').prop('checked')) {
        $('#quality_children').show();
        $('#10').prop('checked', false);
        $('#11').prop('checked', false);
        $('#12').prop('checked', false);
    } else {
        $('#quality_children').hide();
        $('#10').prop('checked', false);
        $('#11').prop('checked', false);
        $('#12').prop('checked', false);
    }
   });
}

function value_onclick () {
  $('#value').change(function() {
    if ($('#value').prop('checked')) {
        $('#value_children').show();
        $('#13').prop('checked', true);
        $('#14').prop('checked', true);
        $('#15').prop('checked', true);
    } else {
        $('#value_children').hide();
        $('#13').prop('checked', true);
        $('#14').prop('checked', true);
        $('#15').prop('checked', true);
    }
   });
}
</script>
{% endblock %}